@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}
:root {
  --dark-black-color: #231f20;
  --light-black-color: #333333;
  --dark-gray-color: #8c8c8c;
  --light-gray-color: #e0e0e0;
}
body {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
  padding: 20px;
  overflow-x: hidden;
  background-color: #f1f4f5;
}
/* header */
.header-container {
  width: 100%;
  height: 821px;
  display: flex;
  flex-direction: column;
  gap: 313px;
  padding: 20px;
  background-image: url("./assets/images/main-banner.png");
  background-size: cover;
  border-radius: 20px;
}
header,
header > nav,
.main-btn {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
header {
  width: 100%;
  height: 57px;
  justify-content: space-between;
}
.header-logo {
  width: 80px;
  height: 57px;
  cursor: pointer;
}
header > nav a {
  font-size: 13px;
}
/* header-navigation */
.first_navigation {
  gap: 10px;
}
.second-navigation,
.third-navigation {
  gap: 4px;
}
.third-navigation--scores {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
.fourth-navigation {
  gap: 20px;
}
a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.twenty-size {
  width: 20px;
  height: 20px;
}
.main-btn {
  cursor: pointer;
  justify-content: center;
  border: none;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  border-radius: 10px;
}

.main-btn:active {
  transform: scale(0.95);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.swipe_btn {
  width: 40px;
  height: 40px;
  background-color: var(--dark-black-color);
}
.header_wrapper--arrows {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  cursor: pointer;
}
/* main */
main {
  width: 100%;
  height: fit-content;
}
.main__section {
  width: 100%;
  height: 544px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.main__article {
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__section--title {
  color: var(--dark-black-color);
  font-size: 35px;
}
.main__section--button {
  width: 180px;
  height: 52px;
  text-transform: uppercase;
  gap: 10px;
  background-color: var(--dark-black-color);
  color: #fff;
}
.main__section--cards {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
  position: relative;
}
.main__card {
  width: 335px;
  height: 462px;
  border-radius: 20px;
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.main__card:hover {
  transform: scale(1.05);
}
.main__card--status {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 14px;
  color: var(--dark-black-color);
}
.main__card--favorite {
  position: absolute;
  top: 20px;
  right: 20px;
}
.main__card--image {
  width: 260px;
  height: 260px;
}
.main__card--lowBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.main__card--descriptions {
  width: 100%;
  height: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.main__card--descriptions_title {
  font-size: 12px;
  color: var(--light-black-color);
  background-color: var(--light-gray-color);
  border-radius: 4px;
  text-transform: uppercase;
  padding: 4px 8px;
}
.main__card--descriptions_more {
  width: 100%;
  max-height: 50px;
  color: var(--dark-black-color);
  font-size: 18px;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main__card--prices {
  display: flex;
  align-items: center;
  gap: 13px;
}
.main__card--prices-current {
  font-size: 20px;
  color: var(--dark-black-color);
}
.main__card--prices-sale {
  font-weight: 400;
  color: var(--dark-gray-color);
  text-decoration: line-through;
}
.main__section--cards--swipeArrows {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: absolute;
  top: 211px;
  z-index: 15;
  padding: 0px 10px;
}
.main__section--cards--swipeBtn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #f4f4f4;
}
/* footer */
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
  text-transform: uppercase;
  .collection {
    font-size: 10px;
    color: var(--dark-gray-color);
  }
  .title {
    color: #fff;
  }
}
.footer__first-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer__little-card {
  width: 335px;
  height: 178px;
  border-radius: 20px;
  background-color: var(--dark-black-color);
  display: flex;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  position: relative;
}
.footer__little-card--animeImage {
  width: 135px;
  height: 100%;
  object-fit: cover;
}
.footer__little-card:hover {
  transform: scale(1.05);
}
.footer__big-card {
  width: 335px;
  height: 333px;
  border-radius: 20px;
  background-color: var(--dark-black-color);
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  position: relative;
  .anime_image {
    width: 181px;
    height: 239px;
    object-fit: cover;
    padding-bottom: 20px;
  }
}
.footer__big-card:hover {
  transform: scale(1.05);
}
.footer__second-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer__second-block--topBox {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__second-block--centerBox {
  width: 100%;
  height: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  p {
    font-size: 35px;
  }
  button {
    width: 179px;
    height: 44px;
    gap: 10px;
    background-color: var(--dark-black-color);
    color: #fff;
  }
}
.footer__second-block--endBox {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__third-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer__little-card--description,
.footer__big-card--description {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px;
}
.footer__little-card--navigateBtn,
.footer__big-card--navigateBtn {
  position: absolute;
  left: 12px;
  bottom: 12px;
  z-index: 10;
  width: 32px;
  height: 32px;
  background-color: #666666;
}
